{% extends 'account/base.html' %}
{% load crispy_forms_tags %}
{% load socialaccount %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<link rel="stylesheet" href="{% static 'css/user/account/login.css' %}">

{% block content %}
<div class="login-container">
    <h1>Custom Login Page</h1> <!-- Add this line to identify the template -->
    <form method="post" action="{% url 'account_login' %}">
        {% csrf_token %}
        <div class="message-box">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="login-form">
            {{ form.as_p }}
            <button type="submit">Login</button>
        </div>
    </form>
    <div class="social-login">
        <h2>Or login with:</h2>
        <a href="{% provider_login_url 'google' %}">Login with Google  or signup </a>
    </div>
</div>
{% endblock %}
