{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
<!--nav bar ends-->

    <div class = "bread-crumb"> 
            <div class = "bread-crumb-container">
                <a href="{% url 'tools' %}"> Tools > </a> 
                <a href="{% url 'content1' %}"> Game Engine</a> 
            </div>
    </div>
     
    <div class="content-container">
            <div class="content-content">
                <ul>
                    <li><a href="{% url 'item1' %}">Unity </a></li>
                    <li><a href="#">Unreal Engine</a></li>
                    <li><a href="#">Godot</a></li>
                    <li><a href="#">CryEngine</a></li>
                    <!-- Add more items as needed -->
                    <!-- Add more items as needed -->
                    <li><a href="#">GameMaker Studio</a></li>
                    <li><a href="#">RPG Maker</a></li>
                    <li><a href="#">Lumberyard</a></li>
                    <li><a href="#">Cocos2d</a></li>
                    <li><a href="#">Defold </a></li>
                    <li><a href="#">Panda3D </a></li>
                    <li><a href="#">RPG Maker</a></li>
                    <li><a href="#">Lumberyard</a></li>
                    <li><a href="#">Cocos2d</a></li>
                    <li><a href="#">Defold </a></li>
                    <li><a href="#">Panda3D </a></li>
                    <li><a href="#">Lumberyard</a></li>
                    <li><a href="#">Cocos2d</a></li>
                    <li><a href="#">Defold </a></li>
                    <li><a href="#">Panda3D </a></li>
                </ul>
            </div>
    </div>
{% endblock %}
